input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.credit_card_validator{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form_group {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  }

.input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
}

.button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}

.button:hover {
  background-color: #356e35;
  transition: 0.5s;
}

.button:active {
  background-color: #1d3a1d;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
}

.image_card {
  width: 57.0667px;
  height: 35.9867px;
  border: 2px solid transparent;
  border-radius: 3.18px;
  border-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  background-color: white;

}

.visa {
  background-image: url(./image/visa_active.png);
}

.ms {
  background-image: url(./image/ms_active.png);
}

.mir {
  background-image: url(./image/mir_cative.png);
}

.jcb {
  background-image: url(./image/jcb_active.png);
}

.no-active {
  filter: grayscale(100%);
}
